<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花椒餐厅管理平台</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/adminstyle.css">
</head>
<body>
    <nav class="navbar-default">
        <div class="zt-navbar-h2">
            <h2>欢迎<span>周滔</span>光临花椒餐厅商家管理平台</h2>
        </div>
    </nav>
    <nav class="container navbar-default navbar zt-nav-bar" style="display: none">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#">订单列表</a></li>
            <li role="presentation"><a href="#">评价列表</a></li>
            <li role="presentation" class="active"><a href="#">菜品列表</a></li>
        </ul>
    </nav>
    <section style="display: none" class="zt-section">
        <div class="panel panel-default">
            <div class="panel-heading">我的订单列表</div>
            <table class="table">
                <thead>
                <tr>
                    <th>订单编号</th>
                    <th>下单时间</th>
                    <th>取货编号</th>
                    <th>取餐人</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">0000001</th>
                    <td>20170204</td>
                    <td>114518</td>
                    <td>20132110010309</td>
                </tr>
                <tr>
                    <th scope="row">0000002</th>
                    <td>20170205</td>
                    <td>114517</td>
                    <td>20132110010409</td>
                </tr>
                <tr>
                    <th scope="row">0000003</th>
                    <td>20170205</td>
                    <td>878811</td>
                    <td>20132110010309</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section style="display: none" class="zt-section">
        <div class="panel panel-default">
            <div class="panel-heading">我被评价信息</div>
            <table class="table">
                <thead>
                <tr>
                    <th>评价菜品</th>
                    <th>评价时间</th>
                    <th>评价等级</th>
                    <th>评价内容</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">油爆琵琶面</th>
                    <td>20170204</td>
                    <td>5/5</td>
                    <td>太棒了我太喜欢了</td>
                </tr>
                <tr>
                    <th scope="row">黄焖鸡米饭</th>
                    <td>20160705</td>
                    <td>3/5</td>
                    <td>很一般般呀</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section style="display: none" class="zt-section">
        <div class="panel panel-default">
            <div class="panel-heading">店铺的菜品信息     <a href="" style="display: block;float: right">添加菜品</a></div>
            <table class="table">
                <thead>
                <tr>
                    <th>菜品编号</th>
                    <th>菜品名称</th>
                    <th>菜品介绍</th>
                    <th>菜品价格</th>
                    <th>菜品是否无货</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">001012</th>
                    <td>黄焖鸡米饭</td>
                    <td>黄焖鸡米饭开始于明朝时期</td>
                    <td>17</td>
                    <td><button  class="btn btn-primary">无货</button></td>
                </tr>
                <tr>
                    <th scope="row">001032</th>
                    <td>辣子鸡</td>
                    <td>辣子鸡来自于热油爆炒的鸡肉</td>
                    <td>21</td>
                    <td><button  class="btn btn-primary">无货</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">菜品名称</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入菜品名称">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">菜品描述</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="菜品描述">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">菜品价格</label>
                <input type="text" class="form-control"  placeholder="菜品价格">
            </div>
            <div class="form-group" style="display: block;float: left">
                <label for="exampleInputFile">菜品图片</label>
                <input type="file"  id="exampleInputFile">
            </div>
            <button type="submit" class="btn btn-primary" style="display: block;float: right;margin-right: 20px">提交菜品</button>
        </form>
    </section>
</body>
</html>