<!DOCTYPE html>
<html lang="en" ng-app="comment" >
<head>
    <meta charset="UTF-8">
    <title>花椒餐厅管理平台</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/adminstyle.css">

</head>
<body ng-controller="commentAdminCtrl">
<nav class="navbar-default">
    <div class="zt-navbar-h2">
        <h2>欢迎<span>周滔</span>光临花椒餐厅商家管理平台{{commentFn}}</h2>
    </div>
</nav>
<nav class="container navbar-default navbar zt-nav-bar" >
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/admin/adminDetaillist">订单列表</a></li>
        <li role="presentation" class="active"><a href="/admin/adminComment">评价列表</a></li>
        <li role="presentation"><a href="/admin/adminGreens">菜品列表</a></li>
    </ul>
</nav>
<section class="zt-section">
    <div class="panel panel-default">
        <div class="panel-heading">我被评价信息</div>
        <table class="table">
            <thead>
            <tr>
                <th>评价菜品</th>
                <th>评价时间</th>
                <th>评价等级</th>
                <th>评价内容</th>
            </tr>
            </thead>
            <tbody id="ios">
                <!--<tr ng-repeat="datas in commentFn">-->
                    <!--<th>{{datas.commentNickname}}</th>-->
                    <!--<td>{{datas.commentTime}}</td>-->
                    <!--<td>{{datas.commentStar}}/5</td>-->
                    <!--<td>{{datas.commentText}}</td>-->
                <!--</tr>-->


            <!--<tr>-->
                <!--<th scope="row">黄焖鸡米饭</th>-->
                <!--<td>20160705</td>-->
                <!--<td>3/5</td>-->
                <!--<td>很一般般呀</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</section>

<script src="/public/bower_components/angular/angular-1.6.4/angular.min.js"></script>
<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="/public/bower_components/angular/angular-1.6.4/angular-route.js"></script>-->
<!--<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>-->
<script src="/public/js/ng_admin_commnet.js"></script>
<script src="/public/js/ng_service.js"></script>
</body>
</html>