<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>登陆</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bower_components/ionic/css/ionic.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<ion-pane>
    <ion-content>
        <div class="bar bar-header ">
            <div class="h1 title">用户登录</div>
        </div>
        <div class="content has-header">
            <form ng-submit="onSubmit(myForm.$valid)"  name="myForm"  novalidate>
                <div class="list">
                    <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-person"></i>
                            <input type="text" name="user" id="user" ng-model="user" placeholder="用户名" required>
                            <div ng-show="myForm.user.$invalid && submitted">
                                <div style="color:red" ng-show="myForm.user.$error.required">用户名是必须的</div>
                            </div>
                        </label>
                    </div>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-locked"></i>
                            <input type="password" name="password" ng-model="password" id="password" placeholder="密码" required>
                            <div ng-show="myForm.password.$invalid && submitted">
                                <div style="color:red" ng-show="myForm.password.$error.required">密码是必须的</div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="padding">
                    <button class="button button-full button-dark" type="submit">登录</button>
                </div>
            </form>
        </div>

    </ion-content>
</ion-pane>


<script src="/public/bower_components/angular/angular-1.6.4/angular.min.js"></script>
<script src="/public/js/main.js"></script>
<script>
    var myApp = angular.module('myApp',[]);
    myApp.controller('myCtrl',['$scope', '$http',function($scope, $http){
        // $scope.formModel = {};
        $scope.submitted = false;
        $scope.onSubmit = function(){
            if ($scope.myForm.$valid) {
                var param = {
                    User: $scope.user,
                    Pwd: $scope.password
                }
                $http.post('someurl',param)
                    .success(function(data){
                        console.log(':)');
                    })
                    .error(function(data){
                        console.log(':(');
                    });

                console.log(param);
            }else{
                $scope.submitted = true;
            }

        }

    }]);
</script>
</body>
</html>