<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>花椒餐厅点餐商家管理平台-登录</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bower_components/ionic/css/ionic.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/adminstyle.css">
</head>
<body ng-app="myApp" class="zt-loginAdmin-body">
    <ion-content class="zt-loginAdmin-contrainer" ng-controller="loginCtrl">
        <div class="bar bar-header bar-light bar-energized">
            <h1 class="title">花椒餐厅点餐商家管理平台</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">登陆</h2>
        </div>
        <div class="content has-header zt-adminlogin-container">
            <form ng-submit="onSubmit(myLogin.$valid)"  name="myLogin" style="margin-top: 60px;"  novalidate>
                <div class="list zt-login-list">
                    <div class="item-input-inset">
                        <label class="item-input-wrapper item item-input">
                            <span class="input-label zt-login-label"><i class="nc-icon-outline users_mobile-contact zt-login-icon"></i>账号</span>
                            <input type="text" name="userid" id="userid" ng-model="userid" placeholder="请输入账号/学号" required>
                            <div ng-show="myLogin.userid.$invalid && submitted">
                                <div style="color:red" ng-show="myLogin.user.$error.required">用户名是必须的</div>
                            </div>
                        </label>
                    </div>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper item item-input">
                            <span class="input-label zt-login-label"><i class="nc-icon-outline objects_key-25 zt-login-icon"></i>密码</span>
                            <input type="password" name="password" ng-model="password" id="password" placeholder="请输入密码" required>
                            <div ng-show="myLogin.password.$invalid && submitted">
                                <div style="color:red" ng-show="myLogin.password.$error.required">密码是必须的</div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="padding">
                    <button class="button  button-block button-energized bar-energized" type="submit">登录</button>
                </div>
            </form>
        </div>
    </ion-content>
<script src="/public/bower_components/angular/angular-1.6.4/angular.min.js"></script>
<script src="/public/js/main.js"></script>
<script>
    angular.module('myApp',[])
        .controller('loginCtrl',function($scope, $http,localstorage){
            $scope.submitted = false;
            $scope.onSubmit = function(){
                if ($scope.myLogin.$valid) {
                    var param = {
                        Stuid: $scope.userid,
                        Pwd: $scope.password,
                        Auth: true
                    };
                    $http({
                        method:'POST',
                        url:'http://localhost:8197/selectUserinfo',
                        headers:{
                            'Content-Type' : 'application/x-www-form-urlencoded'
                        },
                        data:param
                    }).then(function success(res) {
                        console.log('ok');
                        console.log(res);
                        localstorage.setObject('ecjtuA_auth', {
                            'uid':res.data.uid,
                            'username': res.data.username,
                            'stuid': res.data.stuid,
                            'classid': res.data.classid,
                            'grade': res.data.grade,
                            'permission': res.data.permission
                        });
                        var infos = localstorage.getObject('ecjtuA_auth');
                        console.log(infos);
                    },function (err) {
                        console.log(err);
                    });
                    console.log(param);
                }else{
                    $scope.submitted = true;
                }
            }
        })
        .factory('localstorage',['$window',function ($window) {
            return{
                set:function (key,value) {
                    $window.localStorage[key] = value;
                },
                get:function (key,defaultValue) {
                    return $window.localStorage[key] || defaultValue;
                },
                setObject:function(key, value){
                    $window.localStorage[key] = JSON.stringify(value);
                },
                getObject:function (key) {
                    return JSON.parse($window.localStorage[key] || '{}');
                },
                removeObject:function(key){
                    return $window.localStorage.removeItem(key);
                },
                clearLocalStorage:function(){
                    return $window.localStorage.clear();
                }
            }
        }])//创建localStorage模型
</script>
</body>
</html>