<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>登陆</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bower_components/ionic/css/ionic.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/adminstyle.css">
</head>
<body ng-app="myApp" class="zt-loginAdmin-body">
    <ion-content class="zt-loginAdmin-contrainer" ng-controller="loginCtrl">
        <div class="bar bar-header bar-light bar-energized">
            <h1 class="title">花椒餐厅点餐商家管理平台</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">登陆</h2>
        </div>
        <div class="content has-header zt-adminlogin-container">
            <form ng-submit="onSubmit(myLogin.$valid)"  name="myLogin"  novalidate>
                <div class="list zt-login-list">
                    <div class="item-input-inset">
                        <label class="item-input-wrapper item item-input">
                            <span class="input-label zt-login-label"><i class="nc-icon-outline users_mobile-contact zt-login-icon"></i>店铺编号</span>
                            <input type="text" name="userid" id="userid" ng-model="userid" placeholder="请输入账号/学号" required>
                            <div ng-show="myLogin.userid.$invalid && submitted">
                                <div style="color:red" ng-show="myLogin.user.$error.required">用户名是必须的</div>
                            </div>
                        </label>
                    </div>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper item item-input">
                            <span class="input-label zt-login-label"><i class="nc-icon-outline objects_key-25 zt-login-icon"></i>密码</span>
                            <input type="password" name="password" ng-model="password" id="password" placeholder="请输入密码" required>
                            <div ng-show="myLogin.password.$invalid && submitted">
                                <div style="color:red" ng-show="myLogin.password.$error.required">密码是必须的</div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="padding">
                    <button class="button  button-block button-energized bar-energized" type="submit">登录</button>
                </div>
            </form>
        </div>
    </ion-content>
<script src="/public/bower_components/angular/angular-1.6.4/angular.min.js"></script>
<script src="/public/js/main.js"></script>

<script>
    angular.module('myApp',[])
        .controller('loginCtrl',['$scope', '$http', function($scope, $http, $ionicModal, $timeout,$location){
            // $scope.formModel = {};
            $scope.submitted = false;
            $scope.onSubmit = function(){
                if ($scope.myLogin.$valid) {
                    var param = {
                        User: $scope.userid,
                        Pwd: $scope.password
                    }
                    $http.post('someurl',param)
                        .success(function(data){
                            console.log(':)');
                        })
                        .error(function(data){
                            console.log(':(');
                        });
                    console.log(param);
                }else{
                    $scope.submitted = true;
                }
            }
        }])
</script>
</body>
</html>